.headerContainer {

    background-image: url("../../../public/yacht1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.zoomin {
    display: inline-block;
    transition: ease-in-out 0.25s;
}

    .zoomin:hover {
        transform: scale(1.1);
    }