@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

:root {
  font-family: Bahnschrift;
  font-weight: 400;
  color: #4e5969;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
}

.underlined:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
}